#prueba {
    position: relative;
    left: 100px;
    margin-top: 30px;
    top: 0px;
    background-color: grey;
    width: 860px;
    height: 468px;
    float: left;
}

#prueba2 {
    float: right;
    position: relative;
    right: 300px;
    margin-top: 25px;
    top: 0px;
    width: 660px;
    height: 660px;
}
.nombre {

margin-left: 25px;
margin-top: 105px;
}
.description {
    font-size: large;
    margin-left: 25px;
    }

    .precio {
        margin-top: 20px;
        padding-bottom: px;
        margin-left: 25px;
        
        }

.category {
    font-weight: 700;
    text-decoration: underline;
    margin-left: 2px;
    margin-bottom: 10px;    

}

.flecha {
    margin-left: 13px;
    font-weight: 700;

}

.vendidos {
    margin-top: 20px;
    font-size: small;
margin-left: 25px;

}