.tituloCOM {
    color: rgb(49, 49, 49) !important;
    text-decoration: underline !important;
    font-weight: 400;

}

#boton {

 margin-top: 15px;

}

.textColor {

color: rgb(255, 63, 0) !important;
margin-left: 5px;

}

::marker {

    color: rgb(255, 63, 0) !important;

}



