.tituloCOM {
    color: rgb(49, 49, 49) !important;
    text-decoration: underline !important;
    font-weight: 400;

}

#boton {

 margin-top: 15px;

}

.cartas {
margin-top: 25px;
margin-bottom: 25px;
margin-left: auto;
margin-right: auto;
width: 500px !important;
color: aliceblue;
background-color: rgb(66, 66, 66);

}

.cajaCOM {

    width: 1000px !important;
}
