body {
position: relative;
background-image: url(./img/emma/fonddo.png);

}

#contenedor {
    position: absolute;
    right: 11%;
    width: 1500px;
    height: 855px;
    background-color: rgb(59, 66, 82);
    border-radius: 30px
}
#imagen {
    position: absolute;
    width: 750px;
    height: 855px;
    background-image: url(./img/emma/imagen.png);
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px;

}

#logo {
position: absolute;
left: 68%;
bottom: 65%;
width: 200px;
height: 200px;
background-image: url(./img/emma/logo.png);
}

h1 {
     position: absolute;
     left: 66.6%;
     bottom: 58%;
     color: white;
     font-size: 25px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.orange {

    color:rgb(233, 139, 32);
}

.orange:hover {

    color: white;
}

input {
    font-weight: bold;
    border-style:solid;
    border-color: rgb(233, 139, 32);
    border-radius: 15px;
     width: 400px;
     height: 40px;
     margin-bottom: 70px;
     background-color: rgb(144, 159, 194);
}
input:focus {

    background-color: rgb(255, 212, 162)
}


#label1 {
position: absolute;
left: 31%;
bottom: 102%;
display: block;
margin-left: auto;
margin-right: auto;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;

}
#label2 {
position: absolute;
left: 28.2%;
bottom: 51.5%;
display: block;
margin-left: auto;
margin-right: auto;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
}

.campo {
    position: absolute;
    left: 61%;
    bottom: 23%;
}

#bttn {
border-radius: 15px;
border-style: none;
background-color: rgb(62, 82, 128);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
font-weight: bold;
color: white;
position: absolute;
left: 68.4%;
bottom: 16%;
width: 200px;
height: 65px;
}

#bttn:hover {

background-color: rgb(72, 92, 139);

}

#bttn:active {
background-color:rgb(233, 139, 32);
}

#JaP {
float: left;
position: absolute;
left: 92.6%;
width: 100px;
height: 100px;
background-image: url(./img/emma/JaP.png);
opacity: 0.3;
}

#JaP:hover {

    opacity:1;
}

p {
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
position: absolute;
left: 68.5%;
bottom: 4% ;

}

#reg:hover {

    text-decoration: underline 

}

#btnG {

    width: 120px;
    height: 36px;
    background-color: red;
    position: absolute;
    left: 71%;
    bottom: 9.5%;

}